
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Log in (v2)</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <script>
    let userId =localStorage.getItem("id");
    let urlParams = new URLSearchParams(window.location.search)
    let token = urlParams.get('id');
    
    if(!token) window.location.href ="/login";
    if(userId) window.location.href ="/";
    
  </script>
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <script src="/js/reset-password.js"></script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <!-- <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a> -->
      <a href="../../index2.html" class="h1">
        <img src="/dist/img/main-log.png" width="100" height="100">
      </a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Reset your password here</p>
      <div class="alert alert-warning" role="alert" id="server-error-box">
        <b id="server-error">something went wrong try re setting password again</b>
      </div>
      <div class="alert alert-success" role="alert" id="server-success-box">
        <b >password successfully changed </b>
      </div>
      <form id="reset-password-form">
        <div class="input-group">
          <input type="password" class="form-control" placeholder="Password" id="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <span class="text-danger" id="password-error">at least 6 char long </span>
        <div class="input-group mt-3">
          <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <p class="text-danger" id="confirm-password-error">Passwords must match</p>
        <div class="row mt-3">
          <div class="col-8">
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" id="btn-password-reset">
               <span>Sign In</span>
            </button>
            <div id="spinner-sign" class="btn btn-primary btn-block" >
              <div  class="spinner-border spinner-border-sm text-light" role="status"></div>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- /.social-auth-links -->
      <br>
      <br>
      <p class="mb-1">
        <a href="/login">Back to login </a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
<!-- jQuery -->
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- custom scripts -->
</body>
</html>